<div class="flex flex-col items-center bg-poke-green rounded-lg" [routerLink]="['/details', pokemon.id]">
    <div class="bg-poke-green flex justify-center">
        <img
            class="w-60 p-4"
            [src]="pokemon.image"
            alt="Photo of {{ pokemon.name }}"
        />
    </div>
    <div class="bg-orange-200 w-full p-4 font-mono text-yellow-900">
        <p class="text-2xl"> {{ pokemon.name }} </p>
        <p class="text-xl"> #{{ pokemon.id }} </p>
        <p class="text-m"> Height: {{ pokemon.height / 10}} m </p>
        <p class="text-m"> Weight: {{ pokemon.weight / 10 }} kg </p>
        <p class="text-m"> {{ pokemon.type }}</p>
    </div>
</div>