<div class="flex justify-center items-center h-screen">
    <div class="shadow-xl max-w-md" *ngIf="pokemon">
      <div class="flex bg-poke-green justify-center p-4 rounded-t-lg">
        <img
          class="w-60"
          [src]="pokemon.image"
          alt="Photo of {{ pokemon.name }}"
        />
      </div>
      <div class="bg-orange-200 w-full p-4 font-mono text-yellow-900">
        <p class="text-2xl my-2"> {{ pokemon.name }} </p>
        <p class="text-xl"> #{{ pokemon.id }} </p>
        <p class="text-m"> Height: {{ pokemon.height / 10}} m </p>
        <p class="text-m"> Weight: {{ pokemon.weight / 10 }} kg </p>
        <p class="text-m"> {{ pokemon.type }}</p>
        <p class="text-m my-4"> {{ pokeDescription }}</p>
      </div>
    </div>
  </div>